<script lang="ts" setup>
import { useMaterialStore } from "@/stores/material";
import { onMounted, ref } from "vue";
import type { VForm } from "vuetify/components";
import { mdiPlus } from "@mdi/js";

const form = ref<VForm | null>(null);
const materialStore = useMaterialStore();

async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await materialStore.saveMaterial();
  }
}
</script>
<template>
  <v-dialog v-model="materialStore.dialog" persistent width="500">
    <template v-slot:activator="{ props }">
      <v-col cols="12">
        <v-row>
          <v-btn
            rounded
            color="#d6cfb3"
            class="ma-3 color"
            :append-icon="mdiPlus"
            v-bind="props"
            >เพิ่มวัตถุดิบ</v-btn
          >
        </v-row>
      </v-col>
    </template>
    <v-card class="rounded-xl">
      <v-card-title class="title_bar">
        <span class="text-h5">เพิ่มวัตถุดิบ</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Name*"
                  required
                  v-model="materialStore.editedMaterial.name"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length must more than 3',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  label="*minQuantity"
                  required
                  v-model.number="materialStore.editedMaterial.minQuantity"
                  :rules="[(v) => !!v || 'Item is required']"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  label="Quantity*"
                  required
                  v-model.number="materialStore.editedMaterial.quantity"
                  :rules="[(v) => !!v || 'Item is required']"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Unit*"
                  required
                  v-model.number="materialStore.editedMaterial.unit"
                  :rules="[(v) => !!v || 'Item is required']"
                ></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-text-field
                  label="Price*"
                  required
                  v-model.number="materialStore.editedMaterial.price"
                  :rules="[(v) => !!v || 'Item is required']"
                ></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-file-input
                  v-model="materialStore.editedMaterial.files"
                  accept="image/*"
                  label="Image Input"
                ></v-file-input>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="materialStore.dialog = false"
        >
          Close
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<style>
.title_bar {
  color: azure;
  background-color: #41403d;
  text-align: center;
  text-size-adjust: unset;
}
.color {
  color: #ffffff;
}
</style>
