<script setup lang="ts">
import material from "@/services/material";
import { useMaterialStore } from "@/stores/material";
import { onMounted, ref } from "vue";
import { mdiPlus } from "@mdi/js";
const materialStore = useMaterialStore();
const showAlert = ref(false);
const reportMinQuanlity = ref([]);
</script>
<template>
  <v-dialog persistent width="500" class="text rounded-xl">
    <template v-slot:activator="{ props }">
      <v-col cols="12">
        <v-row>
          <v-btn
            rounded
            color="#d6cfb3"
            class="ma-3"
            :append-icon="mdiPlus"
            v-bind="props"
            >รายการวัตถุดิบ</v-btn
          >
        </v-row>
      </v-col>
    </template>
    <template v-slot:default="{ isActive }">
      <v-card class="rounded-xl">
        <v-card-title class="title_bar">
          <span class="text-h5">รายการวัตถุดิบที่ใกล้จะหมด</span>
        </v-card-title>
        <v-card-text>
          <v-table class="border">
            <thead>
              <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Name</th>
                <th class="text-center">SHOULD BE PURCHASED</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="item of materialStore.showLowStockAlert"
                :key="item.id"
                class="text-center"
              >
                <td>{{ item.id }}</td>
                <td class="text-left">
                  <li>{{ item.name }}</li>
                </td>
                <td>{{ item.minQuantity - item.quantity }}</td>
              </tr>
            </tbody>
          </v-table>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="isActive.value = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </template>
  </v-dialog>
</template>
<style>
.text {
  text-align: center;
}
.border {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
</style>
