view

<script lang="ts" setup>
import { useCatagoryStore } from "@/stores/catagory";
import { useMaterialStore } from "@/stores/material";
import { onMounted } from "vue";
import MaterialDialog from "@/views/material/MaterialDialog.vue";
import { mdiPlus } from "@mdi/js";
import MaterialReport from "./MaterialReport.vue";
import { mdiDelete } from "@mdi/js";
import { mdiPencil } from "@mdi/js";

const materialStore = useMaterialStore();
const backendUrl = import.meta.env.VITE_BACKEND_URL;

onMounted(async () => {
  await materialStore.getMaterials();
});
</script>
<template>
  <tr>
    <td><MaterialDialog></MaterialDialog></td>
    <td><MaterialReport></MaterialReport></td>
  </tr>

  <v-table class="ma-1 rounded-xl" height="700">
    <thead class="rounded-xl">
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Image</th>
        <th class="text-center">Name</th>
        <th class="text-center">MINQUANTITY</th>
        <th class="text-center">QUANTITY</th>
        <th class="text-center">UNIT</th>
        <th class="text-center">Price</th>
        <th class="text-center">Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="item of materialStore.materials"
        :key="item.id"
        class="text-center"
      >
        <td>{{ item.id }}</td>
        <td>
          <v-img
            :src="`${backendUrl}/materials/image/${item.image}`"
            height="128px"
          ></v-img>
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.minQuantity }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.unit }}</td>
        <td>{{ item.price }} บาท</td>
        <td>
          <v-btn
            class="mr-5"
            variant="tonal"
            color="#b88456"
            @click="materialStore.editMaterial(item)"
            :append-icon="mdiPencil"
            >Edit</v-btn
          ><v-btn
            variant="tonal"
            color="#b88456"
            @click="materialStore.deleteMaterial(item.id!)"
            :append-icon="mdiDelete"
            >Delete</v-btn
          >
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
<style>
th,
td {
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #ffe0b2;
  color: black;
  font-weight: bolder;
}
</style>
