<template>
  <v-app-bar
    title="D-COFFEE ☕"
    class="bg2 d-flex justify-center font-weight-black"
  ></v-app-bar>
</template>
<style scoped>
.bg1 {
  background-color: #b88456;
}
.bg2 {
  background-color: #6a4a30;
  color: #ffffff;
}
.bg3 {
  background-color: #ffe0b2;
}
.bg4 {
  background-color: #d6cfb3;
}
</style>
