<script lang="ts" setup>
import { useEmployeeStore } from "@/stores/employee";
import { onMounted } from "vue";
import EmployeeDialog from "./EmployeeDialog.vue";
import { mdiPlus } from "@mdi/js";
import { mdiDelete } from "@mdi/js";
import { mdiPencil } from "@mdi/js";
const employeeStore = useEmployeeStore();

onMounted(async () => {
  await employeeStore.getEmployees();
});
</script>
<template>
  <EmployeeDialog></EmployeeDialog>
  <v-col cols="12">
    <v-row align="center">
      <v-btn
        @click="employeeStore.dialog = true"
        rounded
        color="#d6cfb3"
        class="ma-1"
        :append-icon="mdiPlus"
        v-bind="$props"
        >เพิ่มรายชื่อพนักงาน</v-btn
      >
    </v-row>
  </v-col>
  <v-table class="ma-2 rounded-xl">
    <thead>
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">NAME</th>
        <th class="text-center">TEL</th>
        <th class="text-center">EMAIL</th>
        <th class="text-center">POSITION</th>
        <th class="text-center">HOURLY_WAGE</th>
        <th class="text-center">OPERATION</th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="item of employeeStore.employees"
        :key="item.id"
        class="text-center"
      >
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.tel }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.position }}</td>
        <td>{{ item.hourly_wage }} บาท/ชม.</td>
        <td>
          <v-btn
            class="mr-5"
            variant="tonal"
            color="#b88456"
            @click="employeeStore.editEmployee(item)"
            :append-icon="mdiPencil"
            >Edit</v-btn
          ><v-btn
            variant="tonal"
            color="#b88456"
            @click="employeeStore.deleteEmployee(item.id!)"
            :append-icon="mdiDelete"
            >Delete</v-btn
          >
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
