<script setup lang="ts">
import { useOrderStore } from "@/stores/order";
import { onMounted } from "vue";
import { mdiDelete } from "@mdi/js";
import { useCloseStore } from "@/stores/close";

const orderStore = useOrderStore();
const closeStore = useCloseStore();
onMounted(async () => {
  await orderStore.getOrders();
});

function formatDate(itemDate?: string) {
  const formatedDate = new Date(itemDate ?? "");
  const d = formatedDate.getDate();
  const month = formatedDate.getMonth();
  const year = formatedDate.getFullYear();
  const hour = formatedDate.getHours();
  const min = formatedDate.getMinutes();
  return `${d}/${month}/${year}  ${hour}.${min}`;
}
</script>

<template>
  <v-dialog v-model="closeStore.dialog" width="500" height="500">
    <template v-slot:activator="{ props }">
      <v-btn
        variant="flat"
        color="#6a4a30"
        class="align-center bg2"
        width="600px"
        :rounded="0"
        v-bind="props"
        >ใบเสร็จรับเงิน
      </v-btn>
    </template>
    <v-card class="pa-4" width="500">
      <v-card-title class="title_bar">
        <span class="text-h5">ใบเสร็จรับเงิน</span>
      </v-card-title>
      <v-table
        v-if="orderStore.orders.length > 0"
        :key="orderStore.orders[0].id"
      >
        <v-row>
          <v-col cols="12">
            <thead>
              <tr class="center">
                <ts>รายละเอียดสินค้า</ts>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(orderItem, index) in orderStore.orders[0].orderItems"
                :key="index"
              >
                <td>
                  {{ orderItem.name }} {{ "     " }} จำนวน :{{
                    orderItem.amount
                  }}
                  {{ "     " }} ราคา :{{ orderItem.price }} บาท
                </td>
              </tr>
            </tbody>

            <v-row
              ><v-col cols="6"
                ><thead>
                  <tr>
                    <ts class="text-center">เวลาสั่งซื้อ</ts>
                  </tr>
                </thead></v-col
              >
              <v-col cols="6"
                ><tbody>
                  <tr v-if="orderStore.orders[0].orderItems">
                    <td>{{ formatDate(orderStore.orders[0].createdAt) }}</td>
                  </tr>
                </tbody></v-col
              ></v-row
            >

            <v-row
              ><v-col cols="6"
                ><thead>
                  <tr>
                    <ts class="text-center">ราคา</ts>
                  </tr>
                </thead></v-col
              >
              <v-col cols="6"
                ><tbody>
                  <tr v-if="orderStore.orders[0].orderItems">
                    <td>{{ orderStore.orders[0].total }}</td>
                  </tr>
                </tbody></v-col
              ></v-row
            >

            <v-row
              ><v-col cols="6"
                ><thead>
                  <tr>
                    <ts class="text-center">ส่วนลด</ts>
                  </tr>
                </thead></v-col
              >
              <v-col cols="6"
                ><tbody>
                  <tr v-if="orderStore.orders[0].orderItems">
                    <td>{{ orderStore.orders[0].discount }}</td>
                  </tr>
                </tbody></v-col
              ></v-row
            >

            <v-row
              ><v-col cols="6"
                ><thead>
                  <tr>
                    <ts class="text-center">รับเงินมา</ts>
                  </tr>
                </thead></v-col
              >
              <v-col cols="6"
                ><tbody>
                  <tr v-if="orderStore.orders[0].orderItems">
                    <td>{{ orderStore.orders[0].received }}</td>
                  </tr>
                </tbody></v-col
              ></v-row
            >

            <v-row
              ><v-col cols="6"
                ><thead>
                  <tr>
                    <ts class="text-center">เงินทอน</ts>
                  </tr>
                </thead></v-col
              >
              <v-col cols="6"
                ><tbody>
                  <tr v-if="orderStore.orders[0].orderItems">
                    <td>{{ orderStore.orders[0].change }}</td>
                  </tr>
                </tbody></v-col
              ></v-row
            >

            <v-row
              ><v-col cols="6"
                ><thead>
                  <tr>
                    <ts class="text-center">ช่องทางการจ่าย</ts>
                  </tr>
                </thead></v-col
              >
              <v-col cols="6"
                ><tbody>
                  <tr v-if="orderStore.orders[0].orderItems">
                    <td>{{ orderStore.orders[0].payment }}</td>
                  </tr>
                </tbody></v-col
              ></v-row
            >

            <v-row
              ><v-col cols="6"
                ><thead>
                  <tr>
                    <ts class="text-center">พนักงาน</ts>
                  </tr>
                </thead></v-col
              >
              <v-col cols="6"
                ><tbody>
                  <tr v-if="orderStore.orders[0].orderItems">
                    <td>{{ orderStore.orders[0].employee?.name }}</td>
                  </tr>
                </tbody></v-col
              ></v-row
            >

            <v-row
              ><v-col cols="6"
                ><thead>
                  <tr>
                    <ts class="text-center">ลูกค้า</ts>
                  </tr>
                </thead></v-col
              >
              <v-col cols="6"
                ><tbody>
                  <tr v-if="orderStore.orders[0].orderItems">
                    <td>
                      {{ orderStore.orders[0].customer?.name }}
                      Tel :{{ orderStore.orders[0].customer?.tel }}
                    </td>
                  </tr>
                </tbody></v-col
              ></v-row
            >
          </v-col>
        </v-row>
      </v-table>
    </v-card>
  </v-dialog>
</template>
<style scoped>
.center {
  text-align: center;
}
.bg2 {
  background-color: #6a4a30;
  color: #ffffff;
}

.tg {
  text-align: center;
}
</style>
