<script setup lang="ts">
import { useOrderStore } from "@/stores/order";
import { onMounted } from "vue";
import { mdiDelete } from "@mdi/js";

const orderStore = useOrderStore();
onMounted(async () => {
  await orderStore.getOrders();
});

function formatDate(itemDate?: string) {
  const formatedDate = new Date(itemDate ?? "");
  const d = formatedDate.getDate();
  const month = formatedDate.getMonth();
  const year = formatedDate.getFullYear();
  const hour = formatedDate.getHours();
  const min = formatedDate.getMinutes();
  return `${d}/${month}/${year}  ${hour}.${min}`;
}
</script>

<template>
  <v-table class="mx-2 ma-2 rounded-xl" height="770">
    <thead>
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">รายละเอียดสินค้า</th>
        <th class="text-center">เวลา</th>
        <th class="text-center">ราคา</th>
        <th class="text-center">ช่องทางการจ่าย</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of orderStore.orders" :key="item.id">
        <td>{{ item.id }}</td>
        <td class="text-left">
          <li v-for="(orderItem, index) of item.orderItems" :key="index">
            {{ orderItem.name }}
            ( จำนวน :{{ orderItem.amount }} )
          </li>
        </td>
        <td>{{ formatDate(item.createdAt) }}</td>
        <td>{{ item.total }}</td>
        <td>{{ item.payment }} บาท</td>
      </tr>
    </tbody>
  </v-table>
</template>
<style scoped>
tr:nth-child(even) {
  background-color: #f3f3f3; /* สีของแถวเลขคู่ */
  color: #0c090a;
}

tr:nth-child(odd) {
  background-color: #ffffff; /* สีของแถวเลขคี่ */
  color: #0c090a;
}
</style>
