<script setup lang="ts">
import { ref } from "vue";
import { useOrderStore } from "@/stores/order";
import { useLoadingStore } from "@/stores/loading";

const loadingStore = useLoadingStore();
const orderStore = useOrderStore();
const enoughPoint = ref(false);
const num = ref(0);
const change = ref(0);

function Cal() {
  let totalPrice = orderStore.sumPrice;
  if (num.value) {
    orderStore.num = num.value;
    change.value = num.value - totalPrice;

    if (num.value < 0) {
      alert("Please input Positive number");
      change.value = 0;
      num.value = 0;
    }

    if (num.value < totalPrice) {
      alert("Please input again");
      change.value = 0;
      num.value = 0;
    }
  } else {
    enoughPoint.value = true;
    orderStore.discount = 0;
  }

  loadingStore.isLoading = true;
  orderStore.openOrder();
  orderStore.dialog = false;
  loadingStore.isLoading = false;
}

function Close() {
  change.value = 0;
  num.value = 0;
  orderStore.totalprice = 0;
  orderStore.dialog = false;
}
</script>
<template>
  <v-dialog v-model="orderStore.dialog" width="600px" height="100%">
    <template v-slot:activator="{ props }">
      <v-btn
        variant="flat"
        color="#6a4a30"
        class="align-center bg2"
        width="500px"
        :rounded="0"
        v-bind="props"
        >ยืนยันรายการสินค้า
      </v-btn>
    </template>
    <template>
      <v-card>
        <v-toolbar color="#ffe0b2" title="รายการสินค้า"></v-toolbar>
        <v-card-text>
          <v-row>
            <v-col>
              <v-lazy
                :min-height="200"
                :options="{ threshold: 0.5 }"
                transition="fade-transition"
              >
                <v-table>
                  <thead>
                    <tr>
                      <th>รายการสินค้า</th>
                      <th>จำนวนสินค้า</th>
                      <th>ราคารวม</th>
                    </tr>
                  </thead>
                  <tbody
                    v-for="(item, index) of orderStore.orderList"
                    :key="index"
                  >
                    <tr>
                      <td>{{ item.product.name }}</td>
                      <td>{{ item.amount }}</td>
                      <td>{{ item.sum }}</td>
                    </tr>
                  </tbody>
                </v-table>
              </v-lazy>
              <v-text-field
                label="จำนวนเงิน*"
                required
                v-model.number="num"
                :rules="[(v) => !!v || 'Item is required']"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-card-text>

        <v-row>
          <v-col>
            <tbody>
              <tr>
                <td>
                  <v-btn variant="text" @click="Close">Close</v-btn>
                </td>
                <td>
                  <v-btn variant="text" @click="Cal">ชำระเงิน</v-btn>
                </td>
              </tr>
            </tbody>
          </v-col>
        </v-row>
      </v-card>
    </template>
  </v-dialog>
</template>
<style scoped>
th {
  padding: 20px;
  background-color: #6a4a30;
  color: #ffffff;
}

.te {
  color: #ffffff;
}

.bg1 {
  background-color: #b88456;
}
.bg2 {
  background-color: #6a4a30;
  color: #ffffff;
}
.bg3 {
  background-color: #ffe0b2;
}
.bg4 {
  background-color: #d6cfb3;
}
.bg5 {
  background-color: #523925;
}
table,
td {
  border: 1px solid black;
  border-collapse: collapse;
  border-color: #ffe0b2;
}
</style>
