<script setup lang="ts">
import { ref, computed } from "vue";
import { useOrderStore } from "@/stores/order";

const orderStore = useOrderStore();
const netPrice = ref(0);
const usePoint = ref(false);
const discount = ref(0);
const telephone = ref("");
const usePointDis = computed(() => {
  if (telephone.value === "") {
    return true;
  }
  if (telephone.value.length === 10) {
    return false;
  }
  return true;
});

async function Pro() {
  let totalPrice = orderStore.sumPrice;
  netPrice.value = totalPrice - discount.value;

  if (usePoint.value) {
    const customerPoint = await orderStore.GetPointByTel(telephone.value);
    console.log("Customer: ", customerPoint);
    if (customerPoint > 8) {
      totalPrice = totalPrice * 0.95;
      discount.value = orderStore.sumPrice - totalPrice;
      orderStore.usepoint = usePoint.value;
    }
  }

  orderStore.telephone = telephone.value;
  orderStore.discount = discount.value;
  orderStore.dialog = false;
  return totalPrice;
}
</script>
<template>
  <v-dialog width="600" height="100%">
    <template v-slot:activator="{ props }">
      <v-btn
        variant="flat"
        color="#F8BBD0"
        class="align-center"
        width="210px"
        :rounded="0"
        v-bind="props"
        >ยืนยันรายการสินค้า</v-btn
      >
    </template>
    <template v-slot:default="{ isActive }">
      <v-card>
        <v-toolbar color="#ffe0b2" title="รายการสินค้า"></v-toolbar>
        <v-card-text>
          <v-row>
            <v-col>
              <v-lazy
                :min-height="200"
                :options="{ threshold: 0.5 }"
                transition="fade-transition"
              >
                <v-table>
                  <thead>
                    <tr>
                      <th>รายการสินค้า</th>
                      <th>จำนวนสินค้า</th>
                      <th>ราคา</th>
                    </tr>
                  </thead>
                  <tbody
                    v-for="(item, index) of orderStore.orderList"
                    :key="index"
                  >
                    <tr>
                      <td>{{ item.product.name }}</td>
                      <td>{{ item.amount }}</td>
                      <td>{{ item.sum }}</td>
                    </tr>
                  </tbody>
                </v-table>
              </v-lazy>
            </v-col>
          </v-row>

          <v-row style="padding: 10px">
            <v-col cols="12">
              <v-table color="#BCAAA4" class="justify-center">
                <tbody>
                  <tr>
                    <td>ยอดรวม</td>
                    <td>{{ orderStore.sumPrice }} บาท</td>
                  </tr>
                  <tr>
                    <td>ส่วนลด</td>
                    <td>{{ orderStore.discount }}</td>
                  </tr>
                  <tr>
                    <td>ยอดรวมสุทธิ</td>
                    <td>{{ netPrice }}</td>
                  </tr>
                  <tr>
                    <td>เงินสด</td>
                    <td>{{ orderStore.num }} บาท</td>
                  </tr>
                  <tr>
                    <td>เงินทอน</td>
                    <td>{{ orderStore.change }} บาท</td>
                  </tr>
                </tbody>
              </v-table>
            </v-col>
          </v-row>
        </v-card-text>
        <v-row>
          <v-col cols="9"
            ><v-card-text>
              <v-text-field
                label="telephone"
                v-model="telephone"
                :rules="[(v) => !!v || 'Number is not empty!!']"
                required
              ></v-text-field> </v-card-text
          ></v-col>
          <v-col>
            <v-checkbox
              label="Point"
              v-model="usePoint"
              :disabled="usePointDis"
            ></v-checkbox
          ></v-col>
        </v-row>
        <v-row>
          <v-col>
            <tbody>
              <tr>
                <td>
                  <v-card-actions class="justify-end">
                    <v-btn variant="text" @click="isActive.value = false"
                      >Close</v-btn
                    >
                  </v-card-actions>
                </td>
                <td>
                  <v-card-actions class="justify-end">
                    <v-btn variant="text" @click="Pro">ยืนยันใช้ Point</v-btn>
                  </v-card-actions>
                </td>
                <td>
                  <CashView></CashView>
                </td>
                <td>
                  <v-btn variant="text" @click="orderStore.openOrder"
                    >ยืนยัน</v-btn
                  >
                </td>
              </tr>
            </tbody>
          </v-col>
        </v-row>
      </v-card>
    </template>
  </v-dialog>
</template>
