<script lang="ts" setup>
import { useClose1Store } from "@/stores/close1";
import { useOrderStore } from "@/stores/order";
import { ref } from "vue";
const closeStore1 = useClose1Store();
const orderStore = useOrderStore();
const sugarS = ref(0);
const whipcream = ref([]);
let sum = 0;

function save(value: number) {
  for (let i = 0; i < whipcream.value.length; i++) {
    const number = whipcream.value[i];
    sum = Number(sum) + Number(number);
  }
  console.log(sum);
  orderStore.toppingS = sum;
  orderStore.sss = 1;
  orderStore.sugarS = sugarS.value;
  closeStore1.dialog = false;
  sum = 0;
}
</script>
<template>
  <v-dialog v-model="closeStore1.dialog" persistent width="1000">
    <template v-slot:default="{ isActive }">
      <v-card class="rounded-xl">
        <v-card-title class="title_bar">
          <span class="text-h5">ตัวเลือกเพิ่มเติม</span>
        </v-card-title>
        <v-row>
          <v-col cols="6"
            ><v-img
              src="https://www.surepackage.com/wp-content/uploads/2016/11/%E0%B9%81%E0%B8%81%E0%B9%89%E0%B8%A7%E0%B8%81%E0%B8%B2%E0%B9%81%E0%B8%9F-double-wall-12oz-1-500-%E0%B9%83%E0%B8%9A.jpg"
            ></v-img
          ></v-col>
          <v-col cols="6">
            <v-row class="mt-8">ระดับความหวาน</v-row>
            <v-row>
              <v-checkbox
                label="หวานน้อย"
                value="25"
                v-model="sugarS"
              ></v-checkbox>
              <v-checkbox
                label="หวานปกติ"
                value="50"
                v-model="sugarS"
              ></v-checkbox
            ></v-row>
            <v-row>
              <v-checkbox
                label="หวานมาก"
                value="75"
                v-model="sugarS"
              ></v-checkbox>
              <v-checkbox
                label="หวานสู่ขิต"
                value="100"
                v-model="sugarS"
              ></v-checkbox
            ></v-row>
            <v-row class="mt-13">ท็อปปิ้ง</v-row>
            <v-row>
              <v-checkbox
                label="ฟองนม (+ 10 บาท)"
                value="10"
                v-model="whipcream"
              ></v-checkbox>
              <v-checkbox
                label="วิปครีม (+ 15 บาท)"
                value="15"
                v-model="whipcream"
              ></v-checkbox>
            </v-row>
            <v-row class="mt-16">
              <v-btn
                class="mr-3"
                color="red-lighten-3"
                variant="elevated"
                @click="isActive.value = false"
                width="220px"
              >
                Close
              </v-btn>

              <v-btn
                class="ml-5"
                color="light-blue-lighten-3"
                variant="elevated"
                width="220px"
                @click="save(sugarS)"
              >
                Save
              </v-btn>
            </v-row>
          </v-col>
        </v-row>
      </v-card>
    </template>
  </v-dialog>
</template>
<style scoped>
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.glass-container {
  position: relative;
  width: 200px;
  height: 400px;
}

.glass {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}

.liquid {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background-color: #ffca28;
  border-radius: 0 0 100px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #4e342e;
}

.percentage {
  font-size: 20px;
  margin-top: 15px;
}

.slider {
  width: 200px;
}
</style>
