<script lang="ts" setup>
import { useOrderStore } from "@/stores/order";
import { ref, computed } from "vue";
import type { VForm } from "vuetify/components";
import { useCloseStore } from "@/stores/close";
import { useCustomerStore } from "@/stores/customer";
import order from "@/services/order";
import { useMessageStore } from "@/stores/message";
import { useLoadingStore } from "@/stores/loading";
import BillorderView from "./BillorderView.vue";

const loadingStore = useLoadingStore();
const messageStore = useMessageStore();
const num = ref(0);
const change = ref(0);
const orderStore = useOrderStore();
const notFinish = ref(false);

function Cal() {
  let totalPrice = orderStore.totalprice;
  orderStore.change = change.value;
  if (num.value) {
    orderStore.num = num.value;
    change.value = num.value - totalPrice;

    if (num.value < 0) {
      messageStore.showError("กรุณาใส่จำนวนเงินให้ถูกต้อง");
      change.value = 0;
      num.value = 0;
    }

    if (num.value < totalPrice) {
      messageStore.showError("กรุณาใส่จำนวนเงินให้ถูกต้อง");
      change.value = 0;
      num.value = 0;
    }
  } else {
    if (num.value < totalPrice || num.value < 0) {
      num.value = 0;
      change.value = 0;
      orderStore.totalprice = 0;
    } else {
      change.value = num.value - totalPrice;
      orderStore.num = num.value;
      orderStore.totalprice = totalPrice;
      notFinish.value = false;
    }
  }

  orderStore.totalprice = 0;
  orderStore.change = change.value;
  loadingStore.isLoading = true;
  orderStore.usepoint = false;
  orderStore.openOrder();
  orderStore.dialog = false;
  loadingStore.isLoading = false;
  messageStore.showError("ทำรายการเสร็จสิ้น");
}

function Close() {
  change.value = 0;
  num.value = 0;
  orderStore.totalprice = 0;
  orderStore.dialog = false;
}
</script>
<template>
  <v-dialog v-model="orderStore.dialog" persistent width="500">
    <template v-slot:activator="{ props }">
      <v-btn
        variant="flat"
        class="bg2"
        width="500px"
        :rounded="0"
        v-bind="props"
        >ชำระเงิน</v-btn
      >
    </template>
    <v-card>
      <v-card-title class="title_bar">
        <span class="text-h5">ชำระเงินสด</span>
      </v-card-title>
      <v-card-text>
        <v-row>
          <v-col>
            <v-lazy
              :min-height="200"
              :options="{ threshold: 0.5 }"
              transition="fade-transition"
            >
              <v-table>
                <thead>
                  <tr>
                    <th>รายการสินค้า</th>
                    <th>จำนวนสินค้า</th>
                    <th>ราคารวม</th>
                  </tr>
                </thead>
                <tbody
                  v-for="(item, index) of orderStore.orderList"
                  :key="index"
                >
                  <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.sum }}</td>
                  </tr>
                </tbody>
              </v-table>
            </v-lazy>
            <v-card-text class="text-center text-h5">
              จำนวนเงินสุทธิ : {{ orderStore.totalprice }} บาท
            </v-card-text>
            <v-text-field
              label="จำนวนเงิน*"
              required
              v-model.number="num"
              :rules="[(v) => !!v || 'Item is required']"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn variant="text" @click="Close">Close</v-btn>
        <v-btn variant="text" @click="Cal">ชำระเงิน</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<style scoped>
.title_bar {
  color: azure;
  background-color: #41403d;
  text-align: center;
  text-size-adjust: unset;
}

.bg2 {
  background-color: #6a4a30;
  color: #ffffff;
}
</style>
