<script lang="ts" setup>
import { useOrderStore } from "@/stores/order";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const orderStore = useOrderStore();
const num = ref(0);
const change = ref(0);
function Cal() {
  let totalPrice = orderStore.sumPrice;
  change.value = num.value - totalPrice;

  if (num.value < 0) {
    alert("Please input Positive number");
    change.value = 0;
    num.value = 0;
  }

  if (num.value < totalPrice) {
    alert("Please input again");
    change.value = 0;
    num.value = 0;
  }
  orderStore.num = num.value;
  orderStore.change = change.value;
  return totalPrice;
}
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await orderStore.openOrder();
  }
}
</script>
<template>
  <v-dialog v-model="orderStore.dialog" persistent width="500">
    <template v-slot:activator="{ props }">
      <v-btn
        variant="flat"
        color="#F8BBD0"
        class="align-center"
        :rounded="0"
        v-bind="props"
        >ชำระเงิน</v-btn
      >
    </template>
    <v-card>
      <v-card-title class="title_bar">
        <span class="text-h5">ชำระเงินสด</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="จำนวนเงิน*"
                  required
                  v-model.number="num"
                  :rules="[(v) => !!v || 'Item is required']"
                ></v-text-field>
                <v-card-text title="เงินทอน">{{}}</v-card-text>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="orderStore.dialog = false"
        >
          Close
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="Cal">
          ยืนยัน
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save"> save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<style>
.title_bar {
  color: azure;
  background-color: #41403d;
  text-align: center;
  text-size-adjust: unset;
}
</style>
