<script lang="ts" setup>
import { useCheckStore } from "@/stores/checkin";
import { onMounted, ref } from "vue";
import { mdiPlus } from "@mdi/js";
import { mdiPencil } from "@mdi/js";
import CheckinDialog from "./CheckinDialog.vue";
const checkStore = useCheckStore();
const dmyin = ref("");
const dmyout = ref("");
const date = ref("");
function savedatein() {
  const today = new Date();
  date.value =
    today.getDate() + "/" + (today.getMonth() + 1) + "/" + today.getFullYear();
  const time =
    today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
  const dateTime = time;
  dmyin.value = dateTime;
}
function savedateout() {
  const today = new Date();
  const time =
    today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
  const dateTime = time;
  dmyout.value = dateTime;
}

onMounted(async () => {
  await checkStore.getChecks();
});
</script>
<template>
  <CheckinDialog></CheckinDialog>
  <v-btn
    @click="checkStore.dialog = true"
    rounded
    color="#d6cfb3"
    class="ma-1"
    :append-icon="mdiPlus"
    >เพิ่มเวลาเข้า-ออกงาน</v-btn
  >
  <v-table class="ma-2 rounded-xl">
    <thead>
      <tr>
        <th class="text-center">DATE</th>
        <th class="text-center">TIME IN</th>
        <th class="text-center">TIME OUT</th>
        <th class="text-center">TOTAL HOUR</th>
        <th class="text-center">CHECK OUT</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of checkStore.checks" :key="item.id" class="text-center">
        <td>{{ item.date }}</td>
        <td>{{ item.time_in }} น.</td>
        <td>{{ item.time_out }} น.</td>
        <td>{{ item.total_hour }} ชม.</td>
        <td>
          <v-btn
            class="mr-5"
            variant="tonal"
            color="#b88456"
            @click="checkStore.editCheck(item)"
            :append-icon="mdiPencil"
            >CHECK OUT</v-btn
          >
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
<style scoped></style>
