<script setup lang="ts">
import { useAuthStore } from "@/stores/auth";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { mdiAccount } from "@mdi/js";
import { mdiLock } from "@mdi/js";
const authStore = useAuthStore();

const loginName = ref("");
const password = ref("");
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);
const login = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    authStore.login(loginName.value, password.value);
  }
};
const reset = () => {
  form.value?.reset();
};
</script>
<template>
  <v-container class="custom-background mx-auto" fluid>
    <video autoplay muted loop class="fullscreen-video">
      <source src="coffeeloop.mp4" type="video/mp4" />
    </video>
    <v-card-title
      class="text-center text-h5 font-weight-bold mx-auto ma-4"
      color="#FFF3E0"
    >
      <h1 class="text-center display-1 sri">Welcome to D-Coffee</h1>
    </v-card-title>
    <v-card
      class="mx-auto align-self-start rounded-xl blur-card"
      width="500"
      height="600"
      color="#FFFFFF00"
    >
      <v-card-title
        class="text-center text-h3 font-weight-bold mx-auto ma-4"
        color="#FFF3E0"
      >
        <h5 class="sri">Login</h5>
      </v-card-title>

      <v-row>
        <v-card-text width="500">
          <v-img src="image (1).png" width="150" class="mx-auto ma-6"></v-img>
          <v-col class="mx-auto">
            <v-form ref="form" v-model="valid" color="#FFFFFF">
              <v-text-field
                class="mx-auto sri"
                max-width="800"
                label="Login"
                clearable
                :prepend-icon="mdiAccount"
                variant="outlined"
                v-model="loginName"
                color="#FFFFFF"
                :rules="[
                  (v) => !!v || 'Auth Name is required',
                  (v) =>
                    v.length >= 4 ||
                    'Name must be more than or equal 4 characters',
                ]"
                required
              ></v-text-field>
              <v-text-field
                class="mx-auto sri"
                label="Password"
                clearable
                :prepend-icon="mdiLock"
                variant="outlined"
                type="password"
                v-model="password"
                color="#FFFFFF"
                :rules="[
                  (v) => !!v || 'Password Name is required',
                  (v) =>
                    v.length >= 8 ||
                    'Password must be more than or equal 8 characters',
                ]"
                required
              ></v-text-field>
            </v-form>
          </v-col>
        </v-card-text>
      </v-row>
      <v-card-actions class="justify-center mt-4">
        <v-btn width="30%" color="#69F0AE" variant="flat" @click="login"
          >Login</v-btn
        >
        <v-btn width="30%" color="#EF5350" variant="flat" @click="reset"
          >Clear</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-container>
</template>
<style>
.app {
  background-color: #41403d;
}

.sri {
  color: rgb(255, 255, 255);
}

.custom-background {
  position: relative;
  z-index: 1;
}

.fullscreen-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

.blur-card {
  /* Add a blur effect */
  backdrop-filter: blur(30px);
}
</style>
