<script setup lang="ts">
import { useEmployeeStore } from "@/stores/employee";
import { useMaterialStore } from "@/stores/material";
import {
  mdiCurrencyBtc,
  mdiHumanDolly,
  mdiHumanGreetingVariant,
  mdiArchiveAlert,
  mdiArchiveCheck,
} from "@mdi/js";
import { computed, onMounted, ref } from "vue";
import * as Chart from "chart.js";
import { useOrderStore } from "@/stores/order";
import { Bar } from "vue-chartjs";
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale,
} from "chart.js";
import { useCustomerStore } from "@/stores/customer";

ChartJS.register(
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale
);

const chartData = {
  labels: [
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday ",
    "Friday ",
    "Saturday ",
    "Sunday ",
  ],
  datasets: [
    {
      label: "drink sales",
      data: [2500, 2000, 4000, 3500, 6000, 9000, 8000],
      backgroundColor: "rgb(19, 123, 239)",
      borderColor: "rgb(19, 123, 239)",
    },
  ],
};

const chartData2 = {
  labels: [
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday ",
    "Friday ",
    "Saturday ",
    "Sunday ",
  ],
  datasets: [
    {
      label: "food sales",
      data: [500, 800, 2500, 2000, 2300, 3200, 3500],
      backgroundColor: "rgb(60, 179, 113)",
      borderColor: "rgb(60, 179, 113)",
    },
    {
      label: "dessert sales",
      data: [1000, 1200, 2000, 1800, 2500, 3000, 2800],
      backgroundColor: "rgb(238, 130, 238)",
      borderColor: "rgb(238, 130, 238)",
    },
  ],
};

const chartOptions = {
  responsive: true,
};
const employeeStore = useEmployeeStore();
const orderStore = useOrderStore();
const customerStore = useCustomerStore();

onMounted(async () => {
  await customerStore.getCustomers();
});

onMounted(async () => {
  await orderStore.getOrders();
});

onMounted(async () => {
  await employeeStore.getEmployees();
});

onMounted(async () => {
  await materialStore.getMaterials();
});
const materialStore = useMaterialStore();

const getIconName = computed(() => {
  if (materialStore.showLowStockAlert.length > 0) {
    return mdiArchiveAlert;
  } else {
    return mdiArchiveCheck;
  }
});
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="12" class="mt-16">
        <v-card
          :class="[
            'mt-1 px-10 bg-orange-lighten-3 rounded-xl fill-height',
            `elevation-${18}`,
          ]"
          ><v-card-title class="mt-3 d-flex justify-center align-center"
            ><h3></h3
          ></v-card-title>
          <v-card-text class="d-flex justify-center align-center mt-1">
          </v-card-text
          ><v-card-subtitle
            class="d-flex justify-center align-center"
          ></v-card-subtitle
        ></v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="3"
        ><v-card
          :class="[
            'mt-1 my-card px-10 bg-orange-lighten-3 rounded-xl fill-height',
            `elevation-${18}`,
          ]"
          ><v-card-title class="mt-3 d-flex justify-center align-center"
            ><h3>{{}} Baht</h3></v-card-title
          >
          <v-card-text class="d-flex justify-center align-center mt-1">
            <v-icon size="70" :icon="mdiCurrencyBtc" /> </v-card-text
          ><v-card-subtitle class="d-flex justify-center align-center"
            ><h2>Today Income</h2></v-card-subtitle
          ></v-card
        ></v-col
      >
      <v-col cols="3"
        ><v-card
          :class="[
            'mt-1 my-card px-10 bg-orange-lighten-3 rounded-xl fill-height',
            `elevation-${18}`,
          ]"
          ><v-card-title class="mt-3 d-flex justify-center align-center"
            ><h3>{{ customerStore.users.length }} คน</h3></v-card-title
          >
          <v-card-text class="d-flex justify-center align-center mt-1">
            <v-icon size="70" :icon="mdiHumanGreetingVariant" /> </v-card-text
          ><v-card-subtitle class="d-flex justify-center align-center"
            ><h2>Total clients</h2></v-card-subtitle
          ></v-card
        ></v-col
      >
      <v-col cols="3"
        ><v-card
          :class="[
            'mt-1 my-card px-10 bg-orange-lighten-3 rounded-xl fill-height',
            `elevation-${18}`,
          ]"
          ><v-card-title class="mt-3 d-flex justify-center align-center"
            ><h3>{{ employeeStore.employees.length }} คน</h3></v-card-title
          >
          <v-card-text class="d-flex justify-center align-center mt-1">
            <v-icon size="70" :icon="mdiHumanDolly" /> </v-card-text
          ><v-card-subtitle class="d-flex justify-center align-center"
            ><h2>Total employees</h2></v-card-subtitle
          ></v-card
        ></v-col
      >
      <v-col cols="3">
        <v-card
          :class="[
            'mt-1 my-card px-10 bg-orange-lighten-3 rounded-xl fill-height',
            `elevation-${18}`,
          ]"
          ><v-card-title class="mt-3 d-flex justify-center align-center"
            ><h3>
              Status:{{
                materialStore.showLowStockAlert.length > 0 ? "Warning" : "OK"
              }}
            </h3></v-card-title
          >
          <v-card-text class="d-flex justify-center align-center mt-1">
            <v-icon size="70" :icon="getIconName" /> </v-card-text
          ><v-card-subtitle class="d-flex justify-center align-center"
            ><h2>Stock</h2></v-card-subtitle
          ></v-card
        >
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="6">
        <v-card
          :class="[
            'my-card3 px-10 bg-orange-lighten-3 rounded-xl ',
            `elevation-${18}`,
          ]"
          ><Bar
            class="my-chart"
            id="my-chart-id"
            :options="chartOptions"
            :data="chartData"
        /></v-card>
      </v-col>
      <v-col cols="6">
        <v-card
          :class="[
            'my-card3 px-10 bg-orange-lighten-3 rounded-xl ',
            `elevation-${18}`,
          ]"
          ><Bar id="my-chart-id" :options="chartOptions" :data="chartData2" />
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 100%;
}

.title {
  font-size: 34px;
  font-weight: bold;
}

.text {
  padding-top: 0;
}

.subheader {
  font-size: 16px;
  font-weight: bold;
}

.progress {
  margin: 16px 0;
}
</style>
