<script setup lang="ts">
import { mdiDelete } from "@mdi/js";
import { onMounted, ref, computed } from "vue";
import TinSubscribe from "@/views/TinSubscribe.vue";
import { useCatagoryStore } from "@/stores/catagory";
import { useProductStore } from "@/stores/product";
import { useOrderStore } from "@/stores/order";
import PaymentView from "./sell/PaymentView.vue";
import testView from "./sell/testView.vue";
import SugarView from "./sell/SugarView.vue";
import testMemViewVue from "./sell/testMemView.vue";
import BillorderView from "./sell/BillorderView.vue";

const productStore = useProductStore();
const catagoryStore = useCatagoryStore();
const orderStore = useOrderStore();
const tab = ref(null);
onMounted(async () => {
  await catagoryStore.getCatagories();
  /* await productStore.getProducts(); */
  await productStore.getProductsByCatagory(productStore.catagory);
});
const backendUrl = import.meta.env.VITE_BACKEND_URL;

const telephone = ref("");
const usePoint = ref(false);
const discount = ref(0);
const notFinish = ref(false);
const snackbar = ref(false);
const enoughPoint = ref(false);
const dialog = ref(false);

const usePointDisable = computed(() => {
  if (telephone.value === "") {
    return true;
  }
  if (telephone.value.length === 10) {
    return false;
  }
  return true;
});

async function useMember() {
  orderStore.telephone = telephone.value;
  let totalPrice = orderStore.sumPrice;
  if (telephone.value === "") {
    telephone.value = "";
  }
  if (usePoint.value) {
    const customerPoint = await orderStore.GetPointByTel(telephone.value);
    if (customerPoint >= 10) {
      totalPrice = totalPrice * 0.95;
      discount.value = orderStore.sumPrice - totalPrice;
      orderStore.usepoint = usePoint.value;
      orderStore.discount = discount.value;
      orderStore.totalprice = orderStore.sumPrice - orderStore.discount;

      notFinish.value = false;
    } else {
      enoughPoint.value = true;
      discount.value = 0;
      orderStore.telephone = telephone.value;
      orderStore.totalprice = totalPrice;
      notFinish.value = false;
    }
  }
  return totalPrice;
}
</script>

<template>
  <SugarView />
  <main>
    <v-row>
      <v-col cols="7">
        <v-container>
          <v-card color="#EFEBE9">
            <v-tabs v-model="productStore.catagory" class="bg2">
              <v-tab
                v-for="item of catagoryStore.catagories"
                :value="item.id"
                :key="item.id"
                >{{ item.name }}</v-tab
              >
            </v-tabs>

            <v-card-text>
              <v-window v-model="tab">
                <v-window-item value="one">
                  <v-responsive
                    class="overflow-y-auto"
                    max-height="680"
                    min-height="680"
                  >
                    <v-lazy
                      :options="{
                        threshold: 0.5,
                      }"
                      transition="fade-transition"
                      ><v-row>
                        <v-col
                          col="12"
                          md="4"
                          v-for="item of productStore.products"
                          :key="item.id"
                          class="text-center"
                        >
                          <v-card
                            class="mx-auto"
                            max-width="344"
                            color="#d6cfb3  "
                          >
                            <v-img
                              :src="`${backendUrl}/products/image/${item.image}`"
                              height="128px"
                              cover
                            ></v-img>
                            <v-card-title>{{ item.name }} </v-card-title>
                            <v-card-subtitle>
                              {{ item.price }} บาท
                            </v-card-subtitle>
                            <v-card-subtitle>
                              {{ item.size }}
                            </v-card-subtitle>
                            <v-btn
                              width="100%"
                              height="90%"
                              color="#6a4a30"
                              class="justify-space-around align-center bg2"
                              @click="orderStore.addProduct(item)"
                              >Buy</v-btn
                            >
                          </v-card>
                        </v-col>
                      </v-row>
                    </v-lazy>
                  </v-responsive>
                </v-window-item>
              </v-window>
            </v-card-text>
          </v-card>
        </v-container>
      </v-col>

      <v-col cols="5">
        <v-container>
          <v-card color="#EFEBE9">
            <v-row>
              <v-col>
                <v-table height="370" color="#EFEBE9">
                  <thead>
                    <tr>
                      <th style="text-align: center" width="200px">
                        รายการสินค้า
                      </th>
                      <th style="text-align: center" width="120px">
                        จำนวนสินค้า
                      </th>
                      <th style="text-align: center" width="150px">
                        ระดับความหวาน
                      </th>
                      <th style="text-align: center" width="80px">ท็อปปิ้ง</th>
                      <th style="text-align: center">ราคา</th>
                      <th style="text-align: center">ลบ</th>
                    </tr>
                  </thead>
                  <tbody
                    v-for="(item, index) of orderStore.orderList"
                    :key="index"
                  >
                    <tr>
                      <td style="text-align: center">
                        {{ item.product.name }}
                      </td>
                      <td style="text-align: center">{{ item.amount }}</td>
                      <td style="text-align: center">{{ item.sugar }}</td>
                      <td style="text-align: center">{{ item.topping }}</td>
                      <td style="text-align: center">{{ item.sum }}</td>
                      <td style="text-align: center">
                        <v-btn color="#FF1744"
                          ><v-icon
                            class="te"
                            :icon="mdiDelete"
                            @click="orderStore.deleteProduct(index)"
                          ></v-icon>
                        </v-btn>
                      </td>
                    </tr>
                  </tbody>
                </v-table>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-table>
                  <tbody>
                    <tr>
                      <td class="text-left">ยอดรวม</td>
                      <td class="text-right">{{ orderStore.sumPrice }} บาท</td>
                    </tr>
                    <tr>
                      <td class="text-left">ส่วนลด</td>
                      <td class="text-right">{{ discount }} บาท</td>
                    </tr>
                    <tr>
                      <td class="text-left">ยอดรวมสุทธิ</td>
                      <td class="text-right">
                        {{ orderStore.totalprice }} บาท
                      </td>
                    </tr>
                  </tbody>
                </v-table>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="9">
                <v-text-field
                  label="tel*"
                  required
                  v-model="telephone"
                ></v-text-field>
              </v-col>
              <v-col cols="3">
                <v-switch
                  label="use point*"
                  required
                  v-model="usePoint"
                  :disabled="usePointDisable"
                ></v-switch>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="6"><TinSubscribe></TinSubscribe></v-col>
              <v-col cols="6"><BillorderView></BillorderView></v-col>
            </v-row>
            <v-row>
              <v-col cols="4">
                <v-btn
                  variant="flat"
                  color="#6a4a30"
                  class="align-center bg2"
                  width="500px"
                  :rounded="0"
                  @click="orderStore.clearOrder"
                  >ยกเลิกรายการ
                </v-btn>
              </v-col>
              <v-col cols="4">
                <v-btn
                  class="bg2"
                  label="use point*"
                  required
                  width="500px"
                  @click="useMember"
                  >ยืนยันสมาชิก</v-btn
                >
              </v-col>
              <!-- <v-col cols="6"><PaymentView></PaymentView></v-col> -->
              <v-col cols="4"><testView></testView></v-col>
            </v-row>
          </v-card>
        </v-container>
      </v-col>
    </v-row>
  </main>
</template>
<style scoped>
th {
  padding: 20px;
  background-color: #6a4a30;
  color: #ffffff;
}

.te {
  color: #ffffff;
}

.bg1 {
  background-color: #b88456;
}
.bg2 {
  background-color: #6a4a30;
  color: #ffffff;
}
.bg3 {
  background-color: #ffe0b2;
}
.bg4 {
  background-color: #d6cfb3;
}
.bg5 {
  background-color: #523925;
}
table,
td {
  border: 1px solid black;
  border-collapse: collapse;
  border-color: #ffe0b2;
}
.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
</style>
