<script lang="ts" setup>
import { useProductPageStore } from "@/stores/product-page";
import { onMounted } from "vue";
const backendUrl = import.meta.env.VITE_BACKEND_URL;
const productPageStore = useProductPageStore();
onMounted(() => {
  productPageStore.getProducts();
});
</script>
<template>
  <v-text-field v-model="productPageStore.keyword"> </v-text-field>
  <v-table class="rounded-xl">
    <thead>
      <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of productPageStore.products" :key="item.id">
        <td>{{ item.id }}</td>
        <td>
          <v-img
            :src="`${backendUrl}/products/image/${item.image}`"
            height="128px"
          ></v-img>
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.catagoryId }}</td>
        <td>{{ item.size }}</td>
        <td>{{ item.price }}</td>
      </tr>
    </tbody>
  </v-table>
  <v-pagination
    :length="productPageStore.lastPage"
    v-model="productPageStore.page"
  ></v-pagination>
</template>
