<script setup lang="ts">
import { useCustomerStore } from "@/stores/customer";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const customerStore = useCustomerStore();
const dialog = ref(false);
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await customerStore.saveCustomer();
  }
}
</script>
<template>
  <v-dialog v-model="customerStore.dialog" persistent width="1024">
    <template v-slot:activator="{ props }">
      <div>
        <v-btn
          color="#6a4a30"
          :rounded="0"
          v-bind="props"
          width="600px"
          class="bg2"
        >
          สมัครสมาชิก
        </v-btn>
      </div>
    </template>
    <v-card class="rounded-xl" color="#D7CCC8">
      <v-card-title class="text-align-center">
        <span class="text-h5">การสมัครสมาชิก</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Name*"
                  required
                  v-model="customerStore.editedCustomer.name"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length must more than 3',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Tel*"
                  required
                  v-model="customerStore.editedCustomer.tel"
                  :rules="[(v) => !!v || 'Item is required']"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="customerStore.dialog = false"
        >
          Close
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<style scoped>
th {
  background-color: #6a4a30;
  color: #ffffff;
}

.te {
  color: #ffffff;
}

.bg1 {
  background-color: #b88456;
}
.bg2 {
  background-color: #6a4a30;
  color: #ffffff;
}
.bg3 {
  background-color: #d6cfb3;
}
.bg4 {
  background-color: #d6cfb3;
}
.bg5 {
  background-color: #523925;
}
table,
td {
  border: 1px solid black;
  border-collapse: collapse;
  border-color: #ffe0b2;
}
</style>
