<script lang="ts" setup>
import { useCatagoryStore } from "@/stores/catagory";
import { useProductStore } from "@/stores/product";
import { mdiDelete } from "@mdi/js";
import { mdiPencil } from "@mdi/js";

import { onMounted } from "vue";
import ProductDialog from "./ProductDialog.vue";
import { mdiPlus } from "@mdi/js";
const productStore = useProductStore();
const catagoryStore = useCatagoryStore();
const backendUrl = import.meta.env.VITE_BACKEND_URL;
onMounted(async () => {
  // await productStore.getProducts();
  await catagoryStore.getCatagories();
  await productStore.getProductsByCatagory(productStore.catagory);
});
</script>
<template>
  <ProductDialog></ProductDialog>
  <v-btn
    @click="productStore.dialog = true"
    rounded
    color="#d6cfb3"
    class="ma-3"
    :append-icon="mdiPlus"
    >เพิ่มรายการสินค้า</v-btn
  >

  <v-tabs
    v-model="productStore.catagory"
    bg-color="#41403d"
    class="txt_color mx-2 rounded-t-xl"
  >
    <v-tab
      v-for="item of catagoryStore.catagories"
      :value="item.id"
      :key="item.id"
      >{{ item.name }}</v-tab
    >
  </v-tabs>

  <v-table class="mx-2" height="670px">
    <thead>
      <tr class="text-center">
        <th class="text-center">ID</th>
        <th class="text-center">Image</th>
        <th class="text-center">Name</th>
        <th class="text-center">TYPE</th>
        <th class="text-center">SIZE</th>
        <th class="text-center">Price</th>
        <th class="text-center">Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="item of productStore.products"
        :key="item.id"
        class="text-center"
      >
        <td>{{ item.id }}</td>
        <td>
          <v-img
            :src="`${backendUrl}/products/image/${item.image}`"
            height="100px"
            cover
          ></v-img>
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.catagoryId }}</td>
        <td>{{ item.size }}</td>
        <td>{{ item.price }} บาท</td>
        <td>
          <v-btn
            class="mr-5"
            variant="tonal"
            color="#b88456"
            @click="productStore.editProduct(item)"
            :append-icon="mdiPencil"
            >Edit</v-btn
          ><v-btn
            variant="tonal"
            color="#b88456"
            @click="productStore.deleteProduct(item.id!)"
            :append-icon="mdiDelete"
            >Delete</v-btn
          >
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
<style>
.txt_color {
  color: #ffffff;
}
</style>
