<script setup lang="ts">
import { ref } from "vue";
import {
  mdiHome,
  mdiWarehouse,
  mdiCart,
  mdiListBox,
  mdiFaceAgent,
  mdiAccountHardHat,
  mdiAccount,
  mdiLogout,
} from "@mdi/js";

const drawer = ref(true);
const rail = ref(true);
</script>

<template>
  <v-navigation-drawer
    v-model="drawer"
    :rail="rail"
    permanent
    @click="rail = false"
  >
    <v-list-item
      prepend-avatar="https://randomuser.me/api/portraits/men/85.jpg"
      title="About John"
      nav
    >
      <template v-slot:append>
        <v-btn
          variant="text"
          icon="mdiAccount"
          @click.stop="rail = !rail"
        ></v-btn>
      </template>
    </v-list-item>

    <v-divider></v-divider>

    <v-list density="compact" nav>
      <v-list-item
        :prepend-icon="mdiHome"
        title="Home"
        value="home"
      ></v-list-item>
      <v-list-item
        :prepend-icon="mdiAccountHardHat"
        title="My Account"
        value="account"
      ></v-list-item>
      <v-list-item
        :prepend-icon="mdiWarehouse"
        title="Users"
        value="users"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>
