<script setup lang="ts">
import { ref } from "vue";
import {
  mdiHome,
  mdiArrowLeftCircle,
  mdiWarehouse,
  mdiCart,
  mdiListBox,
  mdiFaceAgent,
  mdiAccountHardHat,
  mdiAccount,
  mdiLogout,
  mdiDatabaseEye,
  mdiClipboardTextClock,
  mdiClockCheck,
  mdiStoreSearch,
  mdiHumanGreetingVariant,
  mdiHumanDolly,
} from "@mdi/js";
import { useAuthStore } from "@/stores/auth";
import { useUserStore } from "@/stores/user";

const userStore = useUserStore();

const backendUrl = import.meta.env.VITE_BACKEND_URL;
const drawer = ref(true);
const rail = ref(true);
const authStore = useAuthStore();
const item = userStore.users;
const logout = () => {
  authStore.logout();
};
const user: { name: string } = authStore.getUser();
const image: { image: string } = authStore.getUser();
console.log(user);
</script>

<template>
  <v-navigation-drawer
    v-model="drawer"
    color="#d6cfb3"
    :rail="rail"
    permanent
    @click="rail = false"
  >
    <v-list-item
      :prepend-avatar="`${backendUrl}/users/image/${image.image}`"
      :title="user.name"
      nav
    >
      <template v-slot:append>
        <v-btn
          variant="text"
          color="#b88456"
          :prepend-icon="mdiArrowLeftCircle"
          @click.stop="rail = !rail"
        ></v-btn>
      </template>
    </v-list-item>
    <v-card color="#523925">
      <v-img src="image (1).png" height="100px"></v-img>
    </v-card>

    <v-divider></v-divider>

    <v-list density="compact" nav color="#6a4a30">
      <v-list-item
        :prepend-icon="mdiHome"
        title="หน้าหลัก"
        value="mainmenu"
        to="main-menu"
      ></v-list-item>
      <v-list-item
        :prepend-icon="mdiCart"
        title="ขายสินค้า"
        value="point-of-sell"
        to="/point-of-sell"
      ></v-list-item>
      <v-list-item
        :prepend-icon="mdiWarehouse"
        title="คลังสินค้า"
        value="material"
        to="material"
      ></v-list-item>
      <v-list-item
        :prepend-icon="mdiListBox"
        title="รายการสินค้า"
        value="product"
        to="product"
      ></v-list-item>
      <v-list-item
        :prepend-icon="mdiHumanGreetingVariant"
        title="สมาชิก"
        value="customer"
        to="customer"
      ></v-list-item>
      <v-list-item
        :prepend-icon="mdiHumanDolly"
        title="พนักงาน"
        value="employee"
        to="employee"
      ></v-list-item>
      <v-list-item
        :prepend-icon="mdiAccount"
        title="ผู้ใช้งาน"
        value="user"
        to="/user"
      ></v-list-item>
      <v-list-item
        :prepend-icon="mdiClockCheck"
        title="check in/out"
        value="check in/out"
        to="/checkinouts"
      ></v-list-item>
      <v-list-item
        :prepend-icon="mdiClipboardTextClock"
        title="ประวัติการสั่งซื้อ"
        value="history"
        to="/history"
      ></v-list-item>

      <v-list-item
        :prepend-icon="mdiLogout"
        title="ออกจากระบบ"
        value="Logout"
        @click="logout"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>
<style scoped>
.bg1 {
  background-color: #b88456;
}
.bg2 {
  background-color: #6a4a30;
  color: #ffffff;
}
.bg3 {
  background-color: #ffe0b2;
}
.bg4 {
  background-color: #d6cfb3;
}
.bg5 {
  background-color: #523925;
}
</style>
