<script lang="ts" setup>
import { useStoreStore } from "@/stores/store";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const storeStore = useStoreStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await storeStore.saveStore();
  }
}
</script>
<template>
  <v-dialog v-model="storeStore.dialog" persistent width="600">
    <v-card>
      <v-card-title class="title_bar">
        <span class="text-h5">Store</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Name*"
                  required
                  v-model="storeStore.editedStore.name"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length must more than 3',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  label="Province*"
                  required
                  v-model="storeStore.editedStore.province"
                  :rules="[(v) => !!v || 'Item is required']"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  label="District*"
                  required
                  v-model="storeStore.editedStore.district"
                  :rules="[(v) => !!v || 'Item is required']"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Subdistrict*"
                  required
                  v-model="storeStore.editedStore.subdistrict"
                  :rules="[(v) => !!v || 'Item is required']"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Zip*"
                  required
                  v-model="storeStore.editedStore.zip"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 5 || 'Length must more than 5',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Tel*"
                  required
                  v-model="storeStore.editedStore.tel"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 10 || 'Length must more than 10',
                  ]"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="storeStore.dialog = false"
        >
          Close
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<style>
.title_bar {
  color: azure;
  background-color: #41403d;
  text-align: center;
  text-size-adjust: unset;
}
</style>
