<script setup lang="ts">
import { useStoreStore } from "@/stores/store";
import { onMounted } from "vue";
import StoreDialog from "./StoreDialog.vue";
import { mdiPlus } from "@mdi/js";
import { mdiDelete } from "@mdi/js";
import { mdiPencil } from "@mdi/js";
const storeStore = useStoreStore();
onMounted(async () => {
  await storeStore.getStores();
});
</script>
<template>
  <StoreDialog></StoreDialog>
  <v-btn @click="storeStore.dialog = true" rounded class="ma-2" :icon="mdiPlus">
  </v-btn>
  <v-table class="ma-2">
    <thead>
      <tr class="text-center">
        <th>ID</th>
        <th>NAME</th>
        <th>PROVINCE</th>
        <th>DISTRICT</th>
        <th>SUBDISTRICT</th>
        <th>ZIP</th>
        <th>TEL</th>
        <th>OPRERATION</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of storeStore.stores" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.province }}</td>
        <td>{{ item.district }}</td>
        <td>{{ item.subdistrict }}</td>
        <td>{{ item.zip }}</td>
        <td>{{ item.tel }}</td>
        <td>
          <v-btn
            class="mr-5"
            variant="tonal"
            color="#b88456"
            @click="storeStore.editStore(item)"
            :append-icon="mdiPencil"
            >Edit</v-btn
          >
          <v-btn
            variant="tonal"
            color="#b88456"
            @click="storeStore.deleteStore(item.id!)"
            :append-icon="mdiDelete"
            >Delete</v-btn
          >
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
