<script lang="ts" setup>
import { useCustomerStore } from "@/stores/customer";
import { onMounted } from "vue";
import TinSubscribe from "../TinSubscribe.vue";
import CustomerDialog from "./CustomerDialog.vue";
import { mdiPlus } from "@mdi/js";
import { mdiDelete } from "@mdi/js";
import { mdiPencil } from "@mdi/js";

const customerStore = useCustomerStore();

function formatDate(itemDate?: string) {
  const formatedDate = new Date(itemDate ?? "");
  const d = formatedDate.getDate();
  const month = formatedDate.getMonth();
  const year = formatedDate.getFullYear();
  return `${d}/${month}/${year}`;
}

onMounted(async () => {
  await customerStore.getCustomers();
});
</script>
<template>
  <CustomerDialog></CustomerDialog>
  <v-col cols="12">
    <v-row>
      <v-btn
        @click="customerStore.dialog = true"
        rounded
        color="#d6cfb3"
        class="ma-1"
        :append-icon="mdiPlus"
        >เพิ่มรายชื่อสมาชิก</v-btn
      >
    </v-row>
  </v-col>
  <v-table class="ma-2 rounded-xl">
    <thead>
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">NAME</th>
        <th class="text-center">TEL</th>
        <th class="text-center">POINT</th>
        <th class="text-center">START_DATE</th>
        <th class="text-center">OPRERATION</th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="item of customerStore.users"
        :key="item.id"
        class="text-center"
      >
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.tel }}</td>
        <td>{{ item.point }}</td>
        <td>{{ formatDate(item.start_date) }}</td>
        <td>
          <v-btn
            class="mr-5"
            variant="tonal"
            color="#b88456"
            @click="customerStore.editCustomer(item)"
            :append-icon="mdiPencil"
            >Edit</v-btn
          ><v-btn
            variant="tonal"
            color="#b88456"
            @click="customerStore.deleteCustomer(item.id!)"
            :append-icon="mdiDelete"
            >Delete</v-btn
          >
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
<style scoped></style>
