<script lang="ts" setup>
import { useUserStore } from "@/stores/user";
import { onMounted } from "vue";
import UserDialog from "./UserDialog.vue";
import { mdiPlus } from "@mdi/js";
import { mdiDelete } from "@mdi/js";
import { mdiPencil } from "@mdi/js";
const userStore = useUserStore();
const backendUrl = import.meta.env.VITE_BACKEND_URL;
onMounted(async () => {
  await userStore.getUsers();
});
</script>
<template>
  <UserDialog></UserDialog>
  <v-col cols="12">
    <v-row>
      <v-btn
        @click="userStore.dialog = true"
        rounded
        color="#d6cfb3"
        class="ma-1"
        :append-icon="mdiPlus"
      >
        เพิ่มรายชื่อผู้ใช้
      </v-btn>
    </v-row>
  </v-col>
  <v-table class="ma-2 rounded-xl">
    <thead>
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Image</th>
        <th class="text-center">Name</th>
        <th class="text-center">Login</th>
        <th class="text-center">Role</th>
        <th class="text-center">Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of userStore.users" :key="item.id" class="text-center">
        <td>{{ item.id }}</td>
        <td>
          <v-img
            :src="`${backendUrl}/users/image/${item.image}`"
            height="128px"
          ></v-img>
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.login }}</td>
        <td>{{ item.role }}</td>
        <td>
          <v-btn
            class="mr-5"
            variant="tonal"
            color="#b88456"
            @click="userStore.editUser(item)"
            :append-icon="mdiPencil"
            >Edit</v-btn
          ><v-btn
            variant="tonal"
            color="#b88456"
            @click="userStore.deleteUser(item.id!)"
            :append-icon="mdiDelete"
            >Delete</v-btn
          >
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
<style>
.textcol {
  color: #ffffff;
}
</style>
