<script setup lang="ts">
import MainLayout from "@/layouts/MainLayout.vue";
import FullLayout from "@/layouts/FullLayout.vue";
import LoadingDialog from "./components/LoadingDialog.vue";
import MessageDialog from "./components/MessageDialog.vue";
</script>
<template>
  <v-app class="something">
    <component
      :is="$route.meta.layout === 'MainLayout' ? MainLayout : FullLayout"
    ></component>
    <LoadingDialog></LoadingDialog>
    <MessageDialog></MessageDialog>
  </v-app>
</template>

<style scoped>
.something {
  background: #ffffff;
}
</style>
