<script setup lang="ts"></script>
<template>
  <v-layout class="div">
    <v-main class="div"><RouterView></RouterView></v-main>
  </v-layout>
</template>
<style scoped>
.div {
  background-color: #3f3e3a;
}
</style>
