<script setup lang="ts"></script>
<template>
  <v-layout>
    <RouterView name="menu"></RouterView>
    <RouterView name="header"></RouterView>

    <v-main><RouterView></RouterView></v-main>
  </v-layout>
</template>
<style scoped>
div {
  background-color: #b88456;
}
</style>
